body{
margin:0;
padding:0;
background-color:lightblue;

}
#p1{
font-family:verdana;
text-weight:bold;
font-size:25px;
}

#p2{
font-family:Edwardian Script ITC;
text-weight:bold;
font-size:30px;
}
a.ref{
text-decoration:none;
textcolor:grey;
font-size:18px;
color:black;
}
a.ref:hover
{
cursor:pointer;
color:red;
}
.table2
{
position:relative;
top:-30%

}


